{% extends 'whattolearn/wrapper.html' %}

{% block content %}
{% load static %}
<div align="center">
    <h3 class="heading" style="color: red"><b>Мы подобрали подходящий для вас язык программирования!</b></h3>
    <br><br>
    <img src="{% static 'image/web/backend/company/ruby.svg' %}" alt="ruby">
    <h2>Язык Ruby</h2>
    <br>
    <p class="descrLang">
        Многие крупные компании любят использовать более традиционный и надежный <br>
        подход для создания сайтов, поэтому используют язык Ruby, C# или же Java. <br>
        Определитесь какой язык вам больше подходит по синтаксису и изучайте именно <br>
        его.
    </p>
    <br>
    <a href="/forwhat"><button type="button" class="btn btn-danger">Начать заново</button></a>
</div>

{% endblock %}