{% extends 'whattolearn/wrapper.html' %}

{% block content %}
{% load static %}
<div align="center">
    <h3 class="heading" style="color: red"><b>Мы подобрали подходящий для вас язык программирования!</b></h3>
    <br><br>
    <img src="{% static 'image/robot/python.svg' %}" alt="python">
    <h2>Язык Python</h2>
    <p class="descrLang">
        Python - хороший язык для создания искусственного интеллекта. Язык легкий, <br>
        удобный и многофункциональный. Его с легкостью можно применять для создания <br>
        прототипов ИИ. Создание ИИ базируется на создании математических формул, <br>
        просчета данных и многих других факторов. Изучив Python вы не научитесь <br>
        создавать умные ИИ, так как вам потребуются еще хорошие знания в математике. <br>
        Тем не менее, благодаря языку вы сможете описывать всю логику и функции ваших <br>
        программ.
    </p>
    <br>
    <a href="/forwhat"><button type="button" class="btn btn-danger">Начать заново</button></a>
</div>

{% endblock %}