{% extends 'whattolearn/wrapper.html' %}

{% block content %}
{% load static %}
<div align="center">
    <h3 class="heading" style="color: red"><b>Мы подобрали подходящий для вас язык программирования!</b></h3>
    <br><br>
    <img src="{% static 'image/games/pc_console/simple-game/csharp.svg' %}" alt="csharp">
    <h2>Язык C#</h2>
    <p class="descrLang">
        Для создания небольших инди игр зачастую используется язык C# вместе с <br>
        движком Unity. Всю графическую работу вы можете выполнить внутри движка, а <br>
        для написания функционала использовать язык C#.
    </p>
    <br>
    <a href="/forwhat"><button type="button" class="btn btn-danger">Начать заново</button></a>
</div>

{% endblock %}